.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #e3e6f0;
    border-radius: 0.35rem;
}
.shadow {
    box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;
}
.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}
  
.card-title {
    margin-bottom: 0.75rem;
    font-weight: 700 !important;
    /* color: var(--primary) !important; */
    text-transform: uppercase !important;
}

.card-subtitle {
    margin-top: -0.375rem;
    margin-bottom: 0;
    font-weight: 700 !important;
}
.no-gutters {
    margin-right: 0;
    margin-left: 0;
}
  
.card-subtitle-total{
    color: #6c757d!important;
    font-weight: 700!important;
}
.card-subtitle-day{
    color: #1d2c4d !important;
    font-weight: 800!important;
}
.mr-2,
.mx-2 {
  margin-right: 0.5rem !important;
}

.card-icon i{
    opacity: 0.6;
}
.primary{
    color: var(--primary);
}
.secondary{
    color: var(--secondary);
}
.dark{
    color: var(--dark)
}
.bl{
    color:#4F97E3;
}
.border-left-primary {
    border-left: 0.25rem solid var(--primary) !important;
}
.border-left-secondary {
    border-left: 0.25rem solid var(--secondary) !important;
}
.border-left-dark {
    border-left: 0.25rem solid  var(--dark) !important;
}
.border-left-bl {
    border-left: 0.25rem solid  #4F97E3 !important;
}
.card:hover{
    cursor: pointer;
    transform: translate3d(0, -5px, 0);
    box-shadow: 0 2rem 5rem 0 rgba(0, 0, 0, .1);
    background-color: #f5f8fa;
}