.chat-container{
    background-color: #F9FAFA;
    font-family: 'Mulish', sans-serif;
}
.chat-container .container {
    margin: 60px auto;
    padding: 0;
    border-radius: 7px;
}

/* Profil Style */
.profile-img {
    width: 50px;
    height: 50px;
    border-radius: 40px;
    object-fit: cover;
}
.profile-sec{
  background: #EEF9FF !important;
  padding: 10px 15px;
  border-radius: 10px;
  margin: 20px 5px;
}

/* Search Style  */

.input-wrapper{
    background-color: #EEF9FF;
    border-radius: 40px;
    padding: 10px 15px
}
.search-icon, .icons{
    color: #67A0D4;
    vertical-align: middle;
    font-size: 20px;
}
input {
    border: none;
    border-radius: 40px;
    width: 80%;
    background-color: #EEF9FF !important;
    color: #A9A9AC;
    
}
input::placeholder{
    color: #A9A9AC;
}
input:focus{
    outline: none;
}

/* discussion List Style */
.deslist-sec{
    background: #EEF9FF;
    height: 330px;
    overflow-y: auto;
   
}
/* width */
.deslist-sec::-webkit-scrollbar {
    width: 0.2rem;
    
  }
  /* Handle */
  .deslist-sec::-webkit-scrollbar-thumb {
    background-color: #06A3DA;
    width: 0.1rem;
    
    border-radius: 1rem;
  }
/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }

.discussion-item{
  padding: 10px 15px;
  display: flex;
  vertical-align: baseline;
  border-radius: 20px;
  transition: .3s ease;
  margin: 4px;
  
}
.discussion-item .text {
    margin-left: 12px;
    width: 70%;
}
.discussion-item .time {
    color: #67A0D4;
}
.discussion-item:hover{
    background-color: #fff;
    cursor: pointer;
    border-radius: 20px;
}
.selected{
    background-color: #fff;
}
/* Discussion Style  */
.chat-section{
    background-color: #EEF9FF;
    margin-left: 10px;
    height: 350px;
    border-radius: 20px;
overflow: auto;
}
/* width */
.chat-section::-webkit-scrollbar {
    width: 0.2rem;
    
  }
  /* Handle */
  .chat-section::-webkit-scrollbar-thumb {
    background-color: #06A3DA;
    width: 0.1rem;
    
    border-radius: 1rem;
  }
/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }

.chat-bubble {
    padding: 10px 14px;
    background: #eee;
    margin: 10px;
    position: relative;
    animation: fadeIn 1s ease-in;
}
.chat-bubble-left{
    background-color: #67A0D4;
    border-radius: 0px 9px 9px 9px;
    color: white;
}
.chat-bubble-right{
    background-color: #FAA85B   ;
    border-radius: 9px 9px 0px 9px;
    color: white;
}
.icons button{
    border: none;
    color: #67A0D4;
    background: none;
}

.msg-conf,.date{
    font-size: 1.3rem;
}
/* welcom Page style */ 
.welcom-container{
     background-color: #EEF9FF;
     border-radius: 20px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
}
.welcom-container img {
    height: 20rem;
  }


  